# Auto detect text files and perform LF normalization
* text=auto
# Serie I y serie II
En este documento se presenta el parcial No. 2 que consiste en una maquina de estados finitos implementada con dos semaforos y ademas un detector de peatones.
Los estados que se utilizan se pueden observar en la siguiente imagen:
![alt text](image.png)
hola
